@{
  Layout = "_Layout";
}
<h1>Add a new order to vendor: @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

  <label for="orderTitle">Order Title</label>
  <input id="orderDescription" name="orderTitle" type="text">
  <br>
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <br>
  <label for="orderPrice">Order Price</label>
  <input name="orderPrice" type="number" min="0.01" step="0.01" max="2500" value="0" />
  <br>
  <input class="datefield" data-val="true" data-val-required="Date is required" id="ReleaseDate" name="ReleaseDate"
    type="date" value="1/11/1989">
  <br>
  <button type='submit'>Add Item</button>
</form>
